fastapi
requests
uvicorn
python-dotenv
numpy
lxml
httpx
anyio
pytest
Jinja2
pytest-asyncio
langchain
langchain-core
langchain-google-genai
langchain-google-vertexai
langchain-community
langchain_openai
langgraph
langfuse
cloudscraper
beautifulsoup4
google-cloud-aiplatform
google-auth
pypdf
pymongo